/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header {
  margin-bottom: 5%;
}
nav ul {
  list-style-type: none;
}
ul li {
  float: left;
}
li a{
  text-decoration: none;
}

ul  li {
  width: 15%
}
ul > li button{
  float: right;
}

main{
  clear:both;

}

main section{
  float: left;
  width: 50%;
  height: 60%;
}

section img{
  object-fit: contain;
}
main section > p{
  width: 75%;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
