/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}
/*
palletes

main background- #66768a 
secondary background - #dbdfe2
*/
/******************************************
/* BASE STYLES
/*******************************************/

body {
  
  font-family: "Oswald", sans-serif;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  color: white;
  background: #66768a;
}

main,
ul, section {
  display: flex;
}

main {
  padding: 2em;
  flex-direction: column;
  align-items: center;
  color:white;
  background: #66768a;
}

section {
  flex-direction: column;
  align-items: center;
  
}
ul {
  justify-content: space-around;
  list-style: none;
}
main + section + section{
  display: flex;
  flex-direction: row;
  background:  #dbdfe2;
  clear:both;
}
main + section + section section {
  align-items: center;
  
}
main > h1{
  font-size: 6rem;
}

main > h1 + p{
  width: 60%
}
a {
  text-decoration: none;
}

footer {
  background: black;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
